{% extends 'layout.html' %} {% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="content-section mb-5 shadow">
<form method="POST" id="resForm">
  <h3 class="mt-2">Reservation</h3><hr>
    {{ form.hidden_tag()}}
  <div class="form-row">
  <div class="form-group col-6">
      {{ form.equipment.label(class="form-control-label h5") }}
      {% if form.equipment.errors %}
          {{ form.equipment(class="form-control input-shadow form-control-md is-invalid ") }}
          <div class="invalid-feedback">
              {% for error in form.equipment.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
          {{ form.equipment(class="form-control form-control-md input-shadow") }}
      {% endif %}
  </div>
  <div class="form-group col-6">
      {{ form.facility.label(class="form-control-label h5") }}
      {% if form.facility.errors %}
          {{ form.facility(class="form-control input-shadow form-control-md is-invalid ") }}
          <div class="invalid-feedback">
              {% for error in form.facility.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
          {{ form.facility(class="form-control form-control-md input-shadow") }}
      {% endif %}
  </div>
  </div>
  <div class="form-row">
    <div class="form-group col-4">
        {{ form.resFrom.label(class="form-control-label h5") }}
        {% if form.resFrom.errors %}
            {{ form.resFrom(class="form-control input-shadow form-control-md is-invalid ") }}
            <div class="invalid-feedback">
                {% for error in form.resFrom.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.resFrom(class="form-control form-control-md input-shadow") }}
        {% endif %}
    </div>
  
    <div class="form-group col-4">
        {{ form.reseFrom.label(class="form-control-label h5") }}
        {% if form.reseFrom.errors %}
            {{ form.reseFrom(class="form-control input-shadow form-control-md is-invalid ") }}
            <div class="invalid-feedback">
                {% for error in form.reseFrom.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.reseFrom(class="form-control form-control-md input-shadow") }}
        {% endif %}
    </div>
    <div class="form-group col-4">
        {{ form.resTo.label(class="form-control-label h5") }}
        {% if form.resTo.errors %}
            {{ form.resTo(class="form-control input-shadow form-control-md is-invalid ") }}
            <div class="invalid-feedback">
                {% for error in form.resTo.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.resTo(class="form-control form-control-md input-shadow") }}
        {% endif %}
    </div>
  </div>
  <div class="form-group">
      {{ form.purpose.label(class="form-control-label h5") }}
      {% if form.purpose.errors %}
          {{ form.purpose(class="form-control input-shadow form-control-md is-invalid ") }}
          <div class="invalid-feedback">
              {% for error in form.purpose.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
          {{ form.purpose(class="form-control form-control-md input-shadow") }}
      {% endif %}
  </div>
  <div class="form-group" id="changee">
    <h5 id="prof">Professor</h5>
    <input type="text" class="form-control" id="test" name="test">
  </div>
  <div class="form-group">
    <h5>Description</h5>
    <textarea name="desc" id="desc" cols="30" rows="5" class="form-control"></textarea>
  </div>
  
  <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>
</div>
{% endblock %}
