{% extends 'admin_layout.html'%}
{% block body  %}
<h1>Equipment</h1>
<h3>Dashboard
  <small>
    Welcome {{session.lastName}}, {{session.firstName}}
  </small>
  <a href="/add-equipment" class="btn btn-success btn-md float-right">
    <span data-feather="plus"></span>
    Equipment</a>
</h3>
<hr>
  <table class="table table-striped">
    <tr>
      <th>Property Number</th>
      <th>Name</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
    </tr>
    {% for equipment in equipments %}
    <tr>
      <td>{{equipment.equipmentPropertyNumber}}</td>
      <td>{{equipment.equipmentName}}</td>
      <td>{{equipment.quantity}}</td>
      <td>
        <a href="/editEquipment/{{equipment.equipmentPropertyNumber}}" class="btn btn-primary float-right">
          <span data-feather="edit-2"></span>
          Edit</a>
      </td>
      <td>

        <form action="{{ url_for('delete_equipment', equipmentPropertyNumber = equipment.equipmentPropertyNumber)}}" method="POST">
          <input type="hidden" name="_method" value="Delete">
          <input type="submit" value="Remove" class="btn btn-danger">
        </form>
      </td>
    </tr>
    {% endfor%}
  </table>
{% endblock %}
