{% extends 'admin_layout.html'%}
{% block body %}
<h1>Facility</h1>
<h3>Dashboard
  <small>
    Welcome {{session.lastName}}, {{session.firstName}}
  </small>
  <a href="/add-facility" class="btn btn-success btn-md float-right">
    <span data-feather="plus"></span>
    Facility</a>
</h3>
<hr>
  <table class="table table-striped">
    <tr>
      <th>Property Number</th>
      <th>Name</th>
      <th>Availability</th>
      <th></th>
    </tr>
    {% for facility in facilities %}
    <tr>
      <td>{{facility.facilityPropertyNumber}}</td>
      <td>{{facility.facilityName}}</td>
      <td>{{facility.availability}}</td>
      <td>
        <a href="editFacility/{{facility.facilityPropertyNumber}}" class="btn btn-primary float-left">
          <span data-feather="edit-2"></span>
          Edit</a>
      </td>
    </tr>
    {% endfor%}
  </table>
  {% endblock %}
