{% extends 'layout.1.html' %} {% block body %}

  <div class=" mt-2 content-section mb-5" style="box-shadow: 0 4px 6px 0 hsla(0,0%,0%,0.2); border-top: 6px solid maroon" >
    <form method="POST">
      <div class="form-group">
        <h1 class="h3 mb-3 text-center">Log In as Student</h1>
        <hr>
        <input type="text" class="form-control mb-2 input-shadow" name='studentNumber' placeholder="Student Number" value={{request.form.studentNumber}}>
        <input type="password" name='password' class="form-control mb-2 input-shadow" placeholder="Password" value={{request.form.password}}>
        <small class="text-muted mb-2">
            <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
        </small>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        <div class="float-justify">
        <h5 class="text-center">Or</h5>
        </div>
        <div class="text-center">
        <a href="/register" class="btn btn-md btn-success btn-block">Sign Up</a>
      </div>
      </div>
      
      
    </form>
  </div>
  
  
{% endblock%}
