<html lang="en">
<head>
  <title>PDF</title>
</head>
<body>
  <br>
  <br>
  <br>
  <p>{{today}}</p>
  <br>
  <p>
    Prof. Jaime P. Gutierrez, Jr. <br> Director <br> This Campus
  </p>
  <p style="text-align:center">
    Thru: Joebert
    <br> Technical Officer
  </p>
  <br>
  <p style="font-size:18px">
    The {{ course }} will have a class in {{ subject }} at {{ date and time}}.
    <br><br>
    In line with this undertaking, we would like to reserve the {{ equipment }} for our {{ purpose }}.
    <br><br>
    We are hoping for your most positive and soonest response.
    <br><br>
    Thank you and God Bless.
    <br><br>
    Respectfully yours,
  </p>
  <br>
  <p>
    {{ session.firstName }}{{session.lastName}}
    <br>
    Class Representative
  </p>

  Noted:
  {{ Name of Professor }}
  Professor, {{ Subject }}




</body>
</html>
